-@ val player: models.PlayerExpression
-@ val roomId: String
-@ val maps: Seq[String]
!!! 5
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(http-equiv="Content-Style-Type" content="text/css")
    meta(http-equiv="Content-Script-Type" content="text/javascript")
    meta(name="description" content="")
    meta(name="keywords" content="")
    title CS:GO Match Finder | Lobby

    link(rel="stylesheet" href="/assets/stylesheets/reset.css")
    link(rel="stylesheet" href="/assets/stylesheets/style.css")
  body
    .contents
      .tabs
        .playerInfo
          .tbl
            .thumb
              img(src="#{player.avatar}" width="70" height="70")
            ////.thumb
            .desc
              a(href="#{player.profileUrl}" target="_blank") = player.name
            ////.desc
          ////.tbl
        ////.playerInfo
        #friends
          section
            header
              h1 Friends
              #onlines 20 Online
            .friendsListBox
              ul#friendsList
                - for(i <- 1 to 20){
                li
                  .player
                    .thumb
                      img(src="#{player.avatar}" width="60" height="60")
                    ////.thumb
                    .desc
                      .name Thiry
                      .status Online
                    ////.desc
                  ////.player
                - }
              ////#friendsList
            ////.friendsListBox
          ////section
        ////#friends
      ////.tabs
      #main
        section
          header
            h1 Lobby
          #lobby
            ul#players
              - for(i <- 1 to 5){
              li
                .thumb
                .name
              - }
            //#players
            #lobbyChat(data-roomId="#{roomId}")
              #view
                p テキスト
                p.notify 通知メッセージ
                p.error エラーメッセージ
              ////#view
              form#lobbyChatInput
                input(type="text" placeholder="メッセージを入力してEnterキーで送信")
              ////form
            ////#lobbyChat
            #buttonControls
              .ctl
                button#mapSettings MAP設定
                .desc#selectedMapsList
              ////.ctl
              .go
                button#GO GO
              ////.ctl
            //#buttonControls
          ////#lobby
        ////section
      ////#main
    ////.contents
    ul#userMenu
      li#steamProfLinker
        a(href="javascript:void(0)" target="_blank") Steamプロフィール
      li#inviteFriend ルームに招待
      li#inviteChat チャット送信
    ////.userMenu
    ul#lobbyMenu
      li#steamProfLinker
        a(href="javascript:void(0)" target="_blank") Steamプロフィール
      li#kickBtn ロビーからKick
    ////.lobbyMenu
    #mapSelector
      .box
        .window
          section.inner
            header MAP選択
            #mapList
              ul#classicMap
                - for( map <- maps) {
                li
                  .mapBlock
                    figure
                      img(src="/assets/images/maps/#{map}.jpg" width="150" height="115")
                      figurecaption
                        |#{map}
                        .check
                          input(type="checkbox" class="mapCheckBox" value="#{map}")
                          label
                        ////.check
                      //figurecaption
                    ////figure
                  ////.mapBlock
                ////li
                - }
              ////ul
            ////#mapList
            footer
              button#mapOK(type="submit") 決定
            //footer
          ////.inner
        ////.window
      ////.box
    ////#mapSelector
    script(src="/assets/javascripts/jquery-1.9.0.min.js")
    script(src="/assets/javascripts/extension.js")
    script(src="/assets/javascripts/lobby.layout.js")
    script(src="/assets/javascripts/lobby.action.js")
    script(src="/lobby.socket.js/#{roomId}")
    script(src="/lobby.queue.js/#{roomId}")